@using System.ComponentModel.DataAnnotations
@code {
    class File {
        public int id { get; set; }
        public string? name { get; set; }
        public bool isFolder { get; set; }
        public File? parentFolder { get; set; }

    }


    [Required]
    [Parameter] public string Path { get; set; } = "/";

    private List<File> Files { get; set; } = new List<File>();
}

<div>
    <h3>@Path</h3>
</div>